<h2>Edit User Information</h2>

<%= form_for(@user_info, url: user_info_path, method: :put) do |f| %>
  <% if @user_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_info.errors.count, "error") %> prohibited this user_info from being saved:</h2>
      <ul>
        <% @user_info.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>

  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :province %><br>
    <%= f.select :province, @provinces.map { |province| [province, province] }, prompt: 'Select Province' %>
  </div>

  <div class="field">
    <%= f.label :postal_code %><br>
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :card_number %><br>
    <%= f.text_field :card_number %>
  </div>

  <div class="field">
    <%= f.label :expiry %><br>
    <%= f.text_field :expiry %>
  </div>

  <div class="field">
    <%= f.label :cvv %><br>
    <%= f.text_field :cvv %>
  </div>

  <div class="actions">
    <%= f.submit "Update User Info" %>
  </div>
<% end %>
