<h1>Your Cart</h1>

<% if @cart && @cart.cart_items.any? %>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.product.name %></td>
          <td><%= number_to_currency(cart_item.product.price) %></td>
          <td>
            <%= form_with url: update_quantity_cart_path, method: :patch, local: true do %>
              <%= hidden_field_tag :id, cart_item.id %>
              <%= number_field_tag :quantity, cart_item.quantity, min: 1, step: 1 %>
              <%= submit_tag "Update", class: "btn btn-primary" %>
            <% end %>
          </td>
          <td><%= number_to_currency(cart_item.quantity * cart_item.product.price) %></td>
          <td>
            <%= form_with url: remove_item_cart_path(cart_item.id), method: :delete, local: true do %>
  <%= submit_tag "Remove", class: "btn btn-danger" %>
<% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">Total</td>
        <td><%= number_to_currency(@cart.cart_items.sum { |item| item.quantity * item.product.price }) %></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
<% else %>
  <p>Your cart is empty.</p>
<% end %>

<%= link_to 'Continue Shopping', products_path, class: 'btn btn-secondary' %>