<!DOCTYPE html>
<html>
<head>
  <title>FirearmDepot</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <nav>
   <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Products', products_path %></li>
        <li><%= link_to 'Accessories', accessories_path %></li>
        <li><%= link_to 'About', static_page_path(slug: 'about') %></li>
        <li><%= link_to 'Contact', static_page_path(slug: 'contact') %></li>
        <li><%= link_to 'Admin', admin_root_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>

  <%= yield %>
</body>
</html>
